<!DOCTYPE html>
<html>
<head>
  <title>Ribbit</title>
  <link rel="stylesheet/less" href="/style.less" />

  <script src="/less.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class ="wrapper">
      <img src="/gfx/logo.png">
      <%if current_user %>
        <%= link_to "Home", buddies_path%>
        <%= link_to "My Lilypad", current_user%>
        <%= link_to "The Pool", buddies_path %>
        <%= link_to "Frogs", users_path %>
        <%= link_to "Dive Under and Away", logout_path %>
      <% else %>
        <%= form_tag sessions_path do %>
        <%= text_field_tag :username, nil, placeholder: "username" %>
        <%= password_field_tag :password, nil, placeholder: "password" %>
        <%= submit_tag "Log In" %>
      <% end %>
      <% end %>
    </div>
  </header>
<div id="content">
  <div class="wrapper">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "flash #{name}" %>
    <%end%>
<%= yield %>

</div>
  <footer>
    <div class="wrapper">
      Ribbit by<a href="http://www.twitter.com/joetrayns">@joetrayns</a>
    </div>
  </footer>
</body>
</html>
